<div style="font-family: monospace">
  <h1>..............ROCKET DELIVERY....................</h1>
  <h2>..................../eeeeeeeeeeee\....................</h2>
  <h2>....../RRRRRRRRRR\ /eeeeeeeeeeeeee\ /RRRRRRRRRR\......</h2>
  <h2>...../RRRRRRRRRRRR\|eeeeeeeeeeeeee|/RRRRRRRRRRRR\.....</h2>
  <h2>..../RRRRRRRRRRRRRR +++++++++++++++ RRRRRRRRRRRRRR\....</h2>
  <h2>...|RRRRRRRRRRRRRR ################# RRRRRRRRRRRRRR|...</h2>
  <h2>...|RRRRRRRRRRRRR ########## ######## RRRRRRRRRRRRR|...</h2>
  <h2>....\RRRRRRRRRRR ########## ########## RRRRRRRRRRR/....</h2>
  <h2>......|RRRRRRRRR ########### ######### RRRRRRRRR|......</h2>
  <h2>......|RRRRRRRRRR #################### RRRRRRRRR|......</h2>
  <h2>....................####### #######....................</h2>
  <h2>.....................###### ######.....................</h2>
  <h2>.....................##nnn# #nnn##.....................</h2>
</div>
